/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #FDFFFC;
    font-family: 'Raleway', sans-serif;
}

h2, h3 {
    font-family:'Raleway';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FDFFFC
}

/* Header */
header {
    background-color: #FFA630;
    color: #2b2929;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 2px 2px 1rem #100B00;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #100B00;
    display: none;
}
/* Logo */
.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline;

}

.logo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #2b2929;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #FFA630;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 2px 2px 1rem #100B00;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: flex;
    justify-content: flex-end;
}

#nav-toggle {
    display: none;
} 

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Prevent content from being covered by header */
    margin-top: 60px;
    background-color: #004E64;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-img.webp") no-repeat center center/cover;
    background-color: #004E64;
    position: relative;  
}

#cover-text {
    /* Final rgba value making text box transparent */
    background-color:rgba(255, 166, 48, 0.5);
    font-size: 110%;
    position: absolute;
    top: 30px;
    width: 78%;
    border-radius: 13px;
    min-height: 180px;
    padding-top: 10px;
    padding-left: 10px;
}

#hero h3 {
    text-transform: lowercase;
}
 /* Paragraph text */
#cover-paragraph {
    font-size: 85%;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

p {
    word-spacing: 1px;
    letter-spacing: 1px;
}

#cover-p1 {
    font-size: 110%;
    margin-bottom: 5px;
}
#cover-p2 {
    font-size: 85%;
    display: block;
    margin-bottom: 10px;
}

#cover-p3 {
    font-size: 73% ;
}

/* Button styles */
.button {
    background-color: #FFA630;
    border: none;
    border-radius: 25px;
    color: #2b2929;
    width: 60%;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    /* Position button on page */
    position: absolute;
    top: 485px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #004E64;
    color: #FDFFFC;
}


/* Link Chevron Styles */
#cover-link,
#become-link,
#expect-link,
#jobs-link {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
    align-items: center;
}

.chevron-link {
    color: #FDFFFC;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.chevron-link:hover {
    color: #004E64;
}

.chevron-link i {
    margin-left: 5px; 

}

/* Become Section */
#become {
    width: 90%;
    margin: 40px auto;
}

#become h2,
#expect h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0px 10px;
}

#become h3 {
    font-size: 1rem;
    color:#FFA630;
    padding: 10px 15px;
}

#desire {
    margin-top: 20px;
}

#desire-travel>div,
#desire-self>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#desire p {
    padding: 0 20px;
}

/* Become img*/
#palm-cover-bg {
    position: absolute;
    background: url('../images/become-img.png') no-repeat top center / cover;
    height: 105vw;
    width: 93vw;
    margin-bottom: 720px;
    opacity: 0.2;
    max-width: 465px;
    max-height: 530px;
    /*Center the image*/
    left: 50%;
    transform: translateX(-50%);

}

#become-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border-top: 1px solid #2b2929;
    margin: 5px 15px;
}

/* Button*/

#become-btn,
#expect-btn {
    margin-top: 25px;
    text-align: center;
    position: relative;
    top: 296%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#become-btn:hover {
background-color: #FDFFFC;
color: #004E64;
}

/* Chevron links */
#become-link {
    position: relative;
    width: 90vw;
}

.chevron-become:hover {
    color:#FFA630;
}

/* Expectation Section */
#expectation {
    background: url('../images/expect-img.png') no-repeat top center / cover;
    background-color: #004E64;
    /* Handles responsivity without the need for a media query?? */
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

#expect-title{
    margin: 35px 0px;
    text-align: center;
}

/* FIX FLEXBOX 
#expect {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.expect-box {
    color: #FDFFFC;
    background-color: rgba(255, 166, 48, 0.8);
    margin-top: 25px;
    padding: 10px 15px;
    text-align: center;
    /* Not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    /* flex-basis: 200px; 
    flex-grow: 1; /*
    /* Create a rounded grid of expectation div over the background image */
    border: 2px solid white;
    border-radius: 25px;
}

#expectation h3 {
    color: #004E64;
}

.p-bold {
    font-weight: bold;
}

#expect-link-div {
    margin-top: 20px;
    margin-bottom: 25px;
}

#expect-link {
    position: relative;
    width: 90vw;
}

/* Sign-Up Form page */
#join-us {
    background-image: url("../images/expect-img.png");
    background-size: cover;
    background-position: 40%;
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
}

#signup-form {
    color: #FDFFFC;
    background-color: rgba(255, 166, 48, 0.8);
    padding: 10px;
    border-radius: 13px;
}

#signup-form>h2 {
    font-size: 35px;
    margin-top: 10px;
}

#signup-form>p {
    color: #004E64;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-input {
    background: transparent;
    color: #FDFFFC;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    border: 1px solid #FDFFFC;
    border-radius: 13px;
    padding: 0 5px;
}

.radio-buttons>h3 {
    font-size: 14px;
    margin-top: 5px;
}
/* Button styles */
#form-btn-div{
    margin-top: 28%;
}

#form-btn {
    background-color: #004E64;
    color: #FDFFFC;
    margin-top: 80px;
    padding: 2px 0px;
    text-decoration: underline #FFA630;
}

#form-btn:hover {
    background-color: #FDFFFC;
    color: #FFA630;
}

/* Job Offers Page*/
.title {
    text-align: center;
    margin: 50px 25px 25px;
    font-size: larger;
}

.title h3 {
    font-size: medium;
    color: #FFA630;
    margin-top: 10px;
}

/* Job Offers styles */
#offers {
    margin: 3% 10%;
}

#offers .column ul li {
    margin-bottom: 10px;
    /* Improve readability with increased line height */
    line-height: 1.5; 
}

/* Cherry container */
#cherry {
    margin: 0 30px 30px;
    padding: 20px;
    background-color: rgba(255, 166, 48, .7);
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(253, 255, 252, .5);
    text-align: center;
}

.bold{
    font-weight: bold;
}


/* Open positions title */
#positions {
    text-align: center;
    margin-bottom: 10px;
}


/* Jobs container styles */
#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
    /* Add transition effect */
    transition: all 400ms ease;
}

#jobs .job:hover {
    transform: scale(1.03);
}


#jobs > div {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    background-color: #FFA630;
    border-radius: 10px;
}

#jobs i {
    color: #2b2929;
    margin-right: 4%;
}

#jobs h3 {
    color: #004E64;
    font-size: medium;
    padding: 5px;
}

.button-link-container {
    position: relative;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 80px 0 40px 0;
}

#jobs-btn {
    top: -45px;
}
/* Changed color to be visible */
#jobs-btn:hover {
    background-color: #FDFFFC;
    color: #004E64;
}

.hover-orange:hover {
    color: #FFA630;
}

/* About Us Page */

.paragraph-container{
    margin: 10px;
    padding: 0px 25px;
}

.paragraph-container p {
    margin-bottom: 10px;
    /* Improve readability with increased line height */
    line-height: 1.5; 
}

.box {
    margin: 30px 25px;
    padding: 20px;
    background-color: rgba(255, 166, 48, .7);
    border: 2px solid #fff;
    border-radius: 30px;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img-container img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#names {
    text-align: center;
    font-size: small;
    margin: 20px 0px;
    padding-bottom: 15px;
}

/* Footer */
footer {
    background-color: #FDFFFC;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#contact {
    font-family: 'Raleway', sans-serif;
    color: #2b2929;
    text-align: center;
    /* Reduce font size */
    font-size: 15px;
}

#media-contact {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#media-contact li {
    margin-top: 10px;
}

#media-contact a {
    text-decoration: none;
    color: #2b2929;
    font-size: 22px;
    padding: 5%;
}



/* Media query: Tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-top: auto;
    }

    /*Menu */
    #menu {
        display: flex;
        position: relative;

    }

    #menu>li {
        padding-left: 1rem;
        
    }
    /* Nav toggle */
    .nav-toggle-label {
        display: none;
    }
    /* Logo */
        .logo-image {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        }


    /* Main content */
    main {
        /* Push main content down to fit larger header */
        margin-top: 90px;
    }

    /* Hero section */
    #cover-text {
        right: 50px;
        width: 300px;
    }
    /* Adjust the font size */
    #cover-paragraph {
        font-size: 18px;
        }

    #cover-btn {
        top: 84%;
    }

    .button {
        font-size: 18px;
        padding: 10px 35px;
        width: fit-content;
        }

    #cover-link {
        top: 88%;
        width: 90vw
    }

    .chevron-link {
        font-size: 14px;
    }

    /* Become section */
    #desire {
    margin-top: 35px;
    }

    #desire-travel,
    #desire-self {
        display: flex;
        width: 100%;
    }
    /* Make space between divs*/
    #desire-self {
        padding-top: 70px;
    }

    #desire-travel>div,
    #desire-self>div {
        width: 75%;
    }

    .desire-right{
        margin-left: 100px;
        text-align: right;
    }

    #become-btn-div{
        margin-top: 20px;
    }

    /* Background image */
    #palm-cover-bg {
    /*Center the img*/
    margin-bottom: 32em;
    }
    /* Chevron links */
    
    #become-link{
        margin-top: -25px;
        width: 90vw;
    }

/* Expectation section */
    #expect-btn {
        margin-top: 35px;
        margin-bottom: -25%;
    }

/* Sign-up Form page */
    #join-us {
        background-position: center;
        position: relative;
    }

    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);  /* Adjust for horizontal and vertical centering */
    }

    .text-input {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
    }

    .text-input:hover {
        border-color: #004E64;
    }

    .radio-buttons {
        width: 93%;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }

    #form-btn {
        width: 75%;
        margin-top: 45px;
    }

/* Job Offers Page */
   #offers { display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

   .column {
    /*Leaving a gap between columns */
    width: 40%; 
}

/* About us page */
.paragraph-container {
    margin: 20px;
    padding: 10px 40px;
}

.box {
    margin: 20px 45px;
    padding: 10px;
}

.about-img-container {
    padding: 10px;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
    /* Menu */
    #menu a:hover {
        border-bottom: 1px solid #100B00;
    }
    /* Hero section */ 
    #cover-text {
        top: 115px;
        right: 110px;
    }

    #cover-paragraph{
    /* Adjust the position */
        top: 130px;
        left: 400px;
    }
    /* Become section */
        #palm-cover-bg {
            margin-top: 10em;
    }

    /* Sign-up Form page */
    #form-btn {
        margin-top: 10px;
    }

    /* About us Page */

    .about-container {
        margin-top: 60px;
    }
    
    .about-text {
        margin: 35px 200px 65px;
    }

    .box {
        margin: 25px 45px;
    }
}

/* Large screens (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Become section*/
    #desire {
        padding: 0px 4%;
}
    .desire-right {
        padding-left: 8%;
    }

    .desire-left {
        padding-right: 8%;
    }

}